kind: Deployment
apiVersion: apps/v1
metadata:
   name: prodevops
spec:
   replicas: 10
   selector:      # tells the controller which pods to watch/belong to
    matchLabels:
     app: prodevops
   template:
      metadata:
        labels:
          app: prodevops
      spec:
       containers:
        - name: c1
          image: suribau/mavenpro:v1.latest
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "200m"
          ports:
          - containerPort: 8080
